.*      # Ignore all dot-directories
!.git   # Except the .git folder

.win_compilation/.vs/ProjectSettings.json
.win_compilation/.vs/slnx.sqlite
.win_compilation/.vs/VSWorkspaceState.json
.win_compilation/.vs/.win_compilation/CopilotIndices/17.13.441.19478/CodeChunks.db
.win_compilation/.vs/.win_compilation/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.win_compilation/.vs/.win_compilation/v17/.wsuo
.win_compilation/.vs/.win_compilation/v17/DocumentLayout.json
.win_compilation/maxpro/dllmain.cpp
.win_compilation/maxpro/framework.h
.win_compilation/maxpro/maxpro.dll
.win_compilation/maxpro/maxpro.sln
.win_compilation/maxpro/maxpro.vcxproj
.win_compilation/maxpro/maxpro.vcxproj.filters
.win_compilation/maxpro/maxpro.vcxproj.user
.win_compilation/maxpro/pch.cpp
.win_compilation/maxpro/pch.h
.win_compilation/maxpro/.vs/maxpro/CopilotIndices/17.13.441.19478/CodeChunks.db
.win_compilation/maxpro/.vs/maxpro/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.win_compilation/maxpro/.vs/maxpro/FileContentIndex/29991df3-ab6d-4634-95ce-7f9978c1e2ba.vsidx
.win_compilation/maxpro/.vs/maxpro/FileContentIndex/d4995c87-3413-44fc-8009-968061b5fd15.vsidx
.win_compilation/maxpro/.vs/maxpro/v17/.suo
.win_compilation/maxpro/.vs/maxpro/v17/Browse.VC.db
.win_compilation/maxpro/.vs/maxpro/v17/DocumentLayout.backup.json
.win_compilation/maxpro/.vs/maxpro/v17/DocumentLayout.json
.win_compilation/maxpro/.vs/maxpro/v17/Solution.VC.db
.win_compilation/maxpro/.vs/maxpro/v17/ipch/b532b330462fd111.ipch
.win_compilation/maxpro/.vs/maxpro/v17/ipch/f37c6e2872aa3485.ipch
.win_compilation/maxpro/.vs/maxpro/v17/ipch/AutoPCH/18a81a10099bdc97/DLLMAIN.ipch
.win_compilation/maxpro/.vs/maxpro/v17/ipch/AutoPCH/4458e64dddf6d89c/MAXPRO.ipch
.win_compilation/maxpro/maxpro/x64/Release/maxpro.log
.win_compilation/maxpro/maxpro/x64/Release/maxpro.obj
.win_compilation/maxpro/maxpro/x64/Release/vc143.pdb
.win_compilation/maxpro/maxpro/x64/Release/maxpro.tlog/CL.command.1.tlog
.win_compilation/maxpro/maxpro/x64/Release/maxpro.tlog/CL.read.1.tlog
.win_compilation/maxpro/maxpro/x64/Release/maxpro.tlog/CL.write.1.tlog
.win_compilation/maxpro/maxpro/x64/Release/maxpro.tlog/link.command.1.tlog
.win_compilation/maxpro/maxpro/x64/Release/maxpro.tlog/link.read.1.tlog
.win_compilation/maxpro/maxpro/x64/Release/maxpro.tlog/maxpro.lastbuildstate
.win_compilation/maxpro/maxpro/x64/Release/maxpro.tlog/unsuccessfulbuild
__pycache__/design_criteria.cpython-312.pyc
__pycache__/design_criteria.cpython-312.pyc